body {
    
}

.image {
    position: relative;
    width: 100%;
}

h2 {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
}

    h2 span {
        color: springgreen;
        font: bold 45px/45px Helvetica, Sans-Serif;
        letter-spacing: -1px;
        background: rgb(0,0,0);
        background: rgba(0,30,0,0.8);
        padding: 10px;
    }

h3 {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    padding-top: 200px
}

    h3 span {
        color: white;
        font: 20px/35px Helvetica, Sans-Serif;
        letter-spacing: 0px;
        background: rgb(0,0,0);
        background: rgba(0, 30, 0, 0.8);
        padding: 11px;
    }

#printonly {
    display: none;
}

#parkstable {
    border: 1px solid #ddd;
    width: 90%;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

#weathertext {
    padding-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}