@page
@using System.Text.RegularExpressions
@model IS7024Project.Pages.CrimePageModel
@{
    var crimes = (CrimeSpace.Crime[])ViewData["Crime"];
    var parks = (ParkSpace.Parks[])ViewData["Parks"];
}

<!DOCTYPE html>
<head>
    <title>Cincy Safe Space</title>
    <link rel="stylesheet" href="css/styles.css" type="text/css" />
    <link rel="stylesheet" href="css/print.css" type="text/css" media="print" />
    <link rel="stylesheet" href="css/mobile.css" type="text/css" media="screen and (max-width: 480px)" />
</head>

<body>
    <div class="card-deck">
        <div class="card" style="width: 18rem;">
            <img src="https://s7d2.scene7.com/is/image/TWCNews/police_lights_stocka1280x720jpgjpg-2" class="card-img-top" alt="police lights" />
            <div class="card-body">
                <h1 class="card-title text-center text-white"><span class="badge badge-success text-center"><strong>See Crime Data by Area</strong></span></h1>
                <h4 class="card-text">Select a county from the dropdown below to see crime reports for each county:</h4>
                <div class="dropdown">
                    <button class="dropbtn">County List</button>
                    <div class="dropdown-content">
                        <a href="/GreeneCrime">Greene County</a>
                        <a href="/HamiltonCrime">Hamilton County</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://i1.wp.com/www.nationalreview.com/wp-content/uploads/2020/06/police-line-minneapolis.jpg?fit=1200%2C700&ssl=1" class="card-img-top" alt="police lights" />
            <div class="card-body">
                <h1 class="card-title text-center text-white"><span class="badge badge-success text-center"><strong>See All Crime Data</strong></span></h1>
                <h4 class="card-text">You can also view all crime data for the City of Cincinnati by clicking the link below:</h4>
                <h4 class="card-text"><span class="badge badge-success text-center text-white"><a href="/AllCrime">Click here to view all crime data.</a></span></h4>
            </div>
        </div>
    </div>
</body>
