@page
@model IS7024Project.Pages.GreeneParksModel
@{
    var crimes = (CrimeSpace.Crime[])ViewData["Crime"];
    var parks = (ParkSpace.Parks[])ViewData["Parks"];
}

<head>
    <style>
        img {
            opacity: 1;
        }
        h2{
            text-align:center;
        }
    </style>
</head>

<body>
    <div class="container">
        <img src="https://www.gcparkstrails.com/wp-content/uploads/2019/11/GCPT-Logo-Horiz-Stacked-Spot-Color.png" alt="Greene County Parks and Trails" width="1000" height="300">
    </div>

    <div class="container">
        <h2 class="display-1">Greene County Parks </h2>
        <p>Welcome to the page about Greene County's Parks. Here you will find some basic information about the parks in your local area.</p>
    </div>
    <div style="padding-top: 20px">
        <table class="table" id="parkstable" border="1" width="90%">
            <thead class="thead-dark">
                <tr><th>Name</th><th>Short Name</th><th>County</th><th>Acres</th></tr>
                @{
                    foreach (ParkSpace.Parks park in parks)
                    {
                        var parkCounty = park.County.ToString();
                        if (parkCounty.Equals("Greene"))
                        {
                            <tr>
                                <td>@park.Name</td>
                                <td>@park.ShortName</td>
                                <td>@park.County</td>
                                <td>@park.Acres</td>
                            </tr>
                        }
                    }
                }
            </thead>
        </table>
    </div>
</body>
