@page
@using System.Text.RegularExpressions
@model IS7024Project.Pages.CrimePageModel
@{
    var crimes = (CrimeSpace.Crime[])ViewData["Crime"];
    var parks = (ParkSpace.Parks[])ViewData["Parks"];
}


<p class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" asp-page="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <h5>Navigation Options</h5>
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" asp-page="/Index"><h5>View Parks Data</h5></a>
        <a class="dropdown-item" asp-page="/Index"><h5>View Crime Data</h5></a>
    </div>
</p>

<body>
    <div style="padding-top: 20px">
        <table id="parkstable" border="1" width="90%">
            <tr><th>Name</th><th>Short Name</th><th>County</th><th>Acres</th></tr>
            @{
                foreach (ParkSpace.Parks park in parks)
                {
                    var parkCounty = park.County.ToString();
                    if (parkCounty.Equals("Kenton"))
                    {
                        <tr>
                            <td>@park.Name</td>
                            <td>@park.ShortName</td>
                            <td>@park.County</td>
                            <td>@park.Acres</td>
                        </tr>
                        }

                    }
                }
        </table>
    </div>

</body>