@page
@using System.Text.RegularExpressions
@model IS7024Project.Pages.ParksPageModel
@{
    var crimes = (CrimeSpace.Crime[])ViewData["Crime"];
    var parks = (ParkSpace.Parks[])ViewData["Parks"];
}

<!DOCTYPE html>
<head>
    <title>Cincy Safe Space</title>
    <link rel="stylesheet" href="css/styles.css" type="text/css" />
    <link rel="stylesheet" href="css/print.css" type="text/css" media="print" />
    <link rel="stylesheet" href="css/mobile.css" type="text/css" media="screen and (max-width: 480px)" />
</head>

<body>
    <div class="card-deck">
        <div class="card" style="width: 18rem;">
            <img src="https://www.cityofml.com/ImageRepository/Document?documentID=6935" class="card-img-top" alt="city view" />
            <div class="card-body">
                <h1 class="card-title text-center text-white"><span class="badge badge-success text-center"><strong>Explore Parks in Your Area</strong></span></h1>
                <h4 class="card-text">Select a county from the dropdown below to view parks in the area:</h4>
                <div class="dropdown">
                    <button class="dropbtn">County List</button>
                    <div class="dropdown-content">
                        <a href="/GreeneParks">Greene County</a>
                        <a href="/ButlerParks">Butler County</a>
                        <a href="/ClermontParks">Clermont County</a>
                        <a href="/HamiltonParks">Hamilton County</a>
                        <a href="/WarrenParks">Warren County</a>
                    </div>
                </div>
                <div style="padding-top: 20px">
                    <p>Planning a trip for today? @ViewData["WeatherMessage"]</p>
                </div>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="https://www.cityofml.com/ImageRepository/Document?documentID=6934" class="card-img-top" alt="city view" />
            <div class="card-body">
                <h1 class="card-title text-center text-white"><span class="badge badge-success text-center"><strong>View All</strong></span></h1>
                <h4 class="card-text">If you don't have an area in mind, you can view the entire list of parks below:</h4>
                <h4 class="card-text"><span class="badge badge-success text-center text-white"><a href="/AllParks">Click here to view all parks data.</a></span></h4>
                <div style="padding-top: 20px">
                </div>
            </div>
        </div>
    </div>
</body>
